.search {
  display: flex;
  background-color: #0D1117;
  margin: 0 auto;
  padding: 1em;
  width: 80%;
  justify-content: center;

}

.search input {
  width: 50%;
  margin-right: 2em;
  border-radius: 10px;

}

.search button {
  background-color: #006D32;
  color: #fff;
  border-radius: 10px;
  padding: 1em;
}

.search button:hover {
  cursor: pointer;
  background-color: #39D353;

}

.data {
  background-color: #0D1117;
  margin: 0 auto;
  padding: 1em;
  width: 80%;
  justify-content: space-evenly;
}

.data section {
  background-color: #696969;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  padding: 1em;
}

.data h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.data ul {
  list-style-type: none;
  padding: .5em;
}

.data li {
  margin: 1em;
}

.data span {
  color: #fff;
}

.data p {
  color: #000000;
}

.data a {
  text-decoration: none;
  color: #26A641;
}

.data a:hover {
  color: #39D353;
}

@media (width<600px) {

  .search,
  .data {
    width: 100%;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .data {
    padding: 0;
  }

  .data section {
    border-radius: 0;
    margin: 0;
    width: 100%;
  }
}